<!-- Modal -->
<div ng-controller="CellTowerCombainCtrl" class="cellSearch modal fade" id="cellSearchCombain" tabindex="-1"
  role="dialog" aria-labelledby="cellSearchCombain" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cellTower">Cell Tower Search - Combain</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="card card-body">

          <form>
            <div class="form-row">
              <div class="form-group col d-flex justify-content-start">
                <div class="form-check mr-2">
                  <input class="form-check-input" ng-model="towers.radioType" type="radio" name="radioType" id="wcdma"
                    value="wcdma">
                  <label class="form-check-label" for="wcdma">
                    WCDMA
                  </label>
                </div>
                <div class="form-check mr-2">
                  <input class="form-check-input" ng-model="towers.radioType" type="radio" name="radioType" id="lte"
                    value="lte">
                  <label class="form-check-label" for="exampleRadios2">
                    LTE
                  </label>
                </div>
                <div class="form-check mr-2">
                  <input class="form-check-input" ng-model="towers.radioType" type="radio" name="radioType" id="cdma"
                    value="cdma">
                  <label class="form-check-label" for="cdma">
                    CDMA
                  </label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="inputEmail4">MCC</label>
              </div>
              <div class="form-group col">
                <label for="inputPassword4">MNC</label>
              </div>
              <div class="form-group col">
                <label for="inputPassword4">LAC</label>
              </div>
              <div class="form-group col">
                <label for="inputEmail4">Cell ID</label>
              </div>
              <div class="form-group col">
                <label for="inputEmail4">RSSI</label>
              </div>
              <div class="form-group col">
                <label for="inputPassword4"></label>
              </div>
            </div>

            <div class="form-row" data-ng-repeat="tower in towers.cellTowers track by tower.id">
              <div class="form-group col">
                <input type="text" class="form-control" ng-model="tower.mobileCountryCode">
              </div>
              <div class="form-group col">
                <input type="text" class="form-control" ng-model="tower.mobileNetworkCode">
              </div>
              <div class="form-group col">
                <input type="text" class="form-control" ng-model="tower.locationAreaCode">
              </div>
              <div class="form-group col">
                <input type="text" class="form-control" ng-model="tower.cellId" id="cellId">
              </div>
              <div class="form-group col">
                <input type="text" class="form-control" ng-model="tower.signalStrength">
              </div>

              <div class="form-group col">
                <button class="btn btn-danger" ng-click="removeCell(tower.id)">-</button>
              </div>
            </div>

            <button class="btn btn-success mb-2 btn-sm" ng-click="cellTowerSearch()">Search</button>
            <button class="btn btn-primary mb-2 btn-sm float-right" ng-click="addNewCell()">Add Cell</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>